pkgbase = create-awesome-rust-app
	pkgdesc = Rust-native scaffolding CLI for the Rust programming language (source build)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Create-Rust-App/create-rust-app
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	provides = create-rust-app
	provides = create-awesome-rust-app
	conflicts = create-awesome-rust-app-bin
	conflicts = create-rust-app
	source = create-awesome-rust-app-0.4.0.tar.gz::https://github.com/Create-Rust-App/create-rust-app/archive/refs/tags/create-rust-app@0.4.0.tar.gz
	sha256sums = 2900eae986c37dadebf5a6d4ee2d649d1d8e43fa3ff5cc5a6f9932d3d7d0fae7

pkgname = create-awesome-rust-app
