pkgbase = create-awesome-rust-app
	pkgdesc = Rust-native scaffolding CLI for the Rust programming language (source build)
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/Create-Rust-App/create-rust-app
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	provides = create-rust-app
	provides = create-awesome-rust-app
	conflicts = create-awesome-rust-app-bin
	conflicts = create-rust-app
	source = create-awesome-rust-app-0.2.1.tar.gz::https://github.com/Create-Rust-App/create-rust-app/archive/refs/tags/create-rust-app@0.2.1.tar.gz
	sha256sums = 48858ae6d71cf5ec43bc7ba53d251afe32c256118b4e3d56a8289043fe94e55c

pkgname = create-awesome-rust-app
