pkgbase = create-awesome-rust-app-bin
	pkgdesc = Rust-native scaffolding CLI for the Rust programming language (prebuilt binary)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Create-Rust-App/create-rust-app
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	provides = create-rust-app
	provides = create-awesome-rust-app
	conflicts = create-awesome-rust-app
	conflicts = create-rust-app
	source = create-rust-app-linux-x86_64::https://github.com/Create-Rust-App/create-rust-app/releases/download/create-rust-app@0.4.0/create-rust-app-linux-x86_64
	sha256sums = df22c57258a01779db30b292c117d6b191fa1ac85c19e550c9d4c6c9b53372f5

pkgname = create-awesome-rust-app-bin
